<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hexs.learnactivitydemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.hexs.learnactivitydemo.permission.START"/>
    <uses-permission android:name="com.hexs.learnactivitydemo.permission.WebViewActivity"/>

    <permission android:name="com.hexs.learnactivitydemo.permission.START"/>
    <permission android:name="com.hexs.learnactivitydemo.permission.WebViewActivity"/>

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".basicstudy.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".basicstudy.BActivity" />
        <activity android:name=".basicstudy.CActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.hexs.learnactivitydemo.intent.action.BActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lanuchmode.LanuchFirstActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".lanuchmode.LanuchSecondActivity" />
        <activity
            android:name=".intentandfilter.BrowserActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.hexs.learnactivitydemo.intent.action.BrowserActivity" />

                <data
                    android:host="browseractivity"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity android:name=".service.ServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.MyService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.hexs.learnactivitydemo.intent.action.MyService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.ServiceForExternalApp"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".broadcastreceiver.BroadcastActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcastreceiver.FirstReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="10">
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.hexs.learnactivitydemo.intent.action.broadcastreceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcastreceiver.ThirdReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="20">
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.hexs.learnactivitydemo.intent.action.broadcastreceiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".permission.WebViewActivity"
            android:permission="com.hexs.learnactivitydemo.permission.WebViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>